{% extends 'core/base.html' %}

{% block content %}

<div class="container mt-4">


    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">The Posts</span>
            </p>

            <ul class="nav nav-pills">
                <li class="nav-item"><button type="button" class="btn btn-sm sort-btn" data-sort="date">Date</button>
                </li>
                <li class="nav-item"><button type="button" class="btn btn-sm sort-btn" data-sort="views">Views</button>
                </li>
                <li class="nav-item"><button type="button" class="btn btn-sm sort-btn" data-sort="likes">Likes</button>
                </li>
            </ul>
        </header>
    </div>


    <div class="row mb-2">
        {% for blog in blogs %}

        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <strong
                        class="d-inline-block mb-2 text-primary-emphasis">World<!--{{ blog.likemodel_set.count }} {{ blog.views }}--></strong>

                    <h3 class="mb-0">{{ blog.title }}</h3>

                    <div class="mb-1 text-body-secondary">{{ blog.created_at|timesince }} ago</div>

                    <!--<p class="card-text mb-auto">{{ blog.content|truncatechars:50|safe }}</p>-->

                    <a href="{% url 'blog_detail' blog.pk %}" class="icon-link gap-1 icon-link-hover stretched-link">
                        Continue reading
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>

                </div>
            </div>
        </div>

        {% empty %}

        <div class="list-group-item">No blogs found.</div>

        {% endfor %}
    </div>


    <nav aria-label="Blog Pagination" class="my-4">
        <ul class="pagination pagination-sm justify-content-center">


            {% if page_obj.has_previous %}


            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                </a>
            </li>


            {% endif %}


            {% for i in page_obj.paginator.page_range %}


            <li class="{% if page_obj.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>


            {% endfor %}


            {% if page_obj.has_next %}


            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>


            {% endif %}


        </ul>
    </nav>
</div>


{% endblock %}


{% block extra_script %}
<script>
    // Get all sorting buttons by class name
    const sortBtns = document.getElementsByClassName('sort-btn');
    const urlParams = new URLSearchParams(window.location.search);
    const sortedBy = urlParams.get('sorted_by');

    for (const btn of sortBtns) {
        // Add active class to selected sorting button
        if (sortedBy) {
            if (btn.getAttribute('data-sort') === sortedBy) btn.classList.add('active');
        }
        else {
            if (btn.getAttribute('data-sort') === 'date') btn.classList.add('active');
        }

        // Add click event listener to each sorting button
        btn.addEventListener('click', function () {
            // Get the sorting parameter from the data-sort attribute
            const sortingParam = this.getAttribute('data-sort');

            // Get the current URL without query parameters
            const currentURL = window.location.origin + window.location.pathname;

            // Build the new URL with the sorting parameter
            const newURL = `${currentURL}?sorted_by=${sortingParam}`;

            // Redirect to the new URL
            window.location.href = newURL;
        });
    }
</script>
{% endblock extra_script %}